@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;  
  -webkit-font-smoothing: antialiased;
  background: red;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  margin-top: 20%;
  color: #ffffff;
  display: grid;
  place-items: center;
}

#intro {  
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;

}

/* BUTTON */
.btn-centre {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Rajdhani', sans-serif;  
  text-align: center;
  text-transform: capitalize;
  display: block;
  padding: 10px 65px;  
  margin-top: 20px;
  cursor: pointer;
}

a:hover {
  color: #ccc; 
}

@media (max-width: 760px) {
  .container {
    display: grid;
    place-items: center;
  }

}